.navbar{
    padding-left:10px;
    padding-right:10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    height: 70px;
    margin:0px;
  }

#profile{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  float: left;
  margin-left: 15px;    
  margin-top: -80px;
  margin-bottom: 0px;
  }

img {
    vertical-align: top;
}
icons{
  margin-right: 10px;
  display: inline-block;
  margin-top: 17px
}

